/* fonts */
@font-face {
  font-family: 'GmarketSans';
  font-weight: 300;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.ttf') format("truetype");
  font-display: swap;
} 
@font-face {
  font-family: 'GmarketSans';
  font-weight: 500;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.ttf') format("truetype");
  font-display: swap;
} 
@font-face {
  font-family: 'GmarketSans';
  font-weight: 700;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.ttf') format("truetype");
  font-display: swap;
} 

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #DBE6F6, #C5796D);
  color: #fff;
  font-family: 'GmarketSans';    
  min-height: 100vh;
}

/* style */
form, input, form, button {
  border: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}

/* header */
header {
  font-size: 1.5rem;
}
header, form{
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* form */
form input, form button {
  padding: 0.5rem;
  font-size: 2rem;
  background: #fff;
}
form button {
  color: #C5796D;
  background: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: #C5796D;
  color: #fff;
}

/* todo-container */
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* todo-list */
.todo-list {
  min-width: 30%;
  list-style: none;
}

/* todo */
.todo {
  margin: 0.5rem;
  background: #fff;
  color: #000;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}
.todo li {
  flex: 1;
}

/* trash-btn, .complete-btn  */
.trash-btn, 
.complete-btn {
  background: #355764;
  color: #fff;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background: #5A8F7B;
}

/* todo-item */
.todo-item {
  padding: 0rem 0.5rem;
}

/* fa-trash, .fa-check  */
.fa-trash, 
.fa-check {
  pointer-events: none;
}

/* completed */
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/* fall */
.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

/* select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #C5796D;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
}
.select::after {
  content: "\25BC";
  position: absolute;
  background: #C5796D;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.3s ease;
}

.select:hover::after {
  background: #fff;
  color: #5A8F7B;
}